.Pages {
    display: grid;
    height: 100vh;
    margin: auto;
    margin-right: 50px;

    grid-template-columns: 240px 1fr;
    grid-template-rows: 65px, 1fr, 15px;

    grid-template-areas:
        "header header"
        "aside  main"
        "footer footer ";
}

.PageHeader {
    grid-area: header;
}

.PageNav {
    grid-area: aside;
    transform: translateY(-50%);
}

.main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


li {
    list-style: none;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.pageView {
    padding: 45px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
}

.imgBigger {
    width: 250px;
    height: 400px;
}

.Right {
    border: solid 1px gray;
    padding: 35px;
}

.smallerLabel {
    font-size: smaller;
}

textarea {
    width: 370px;
    height: 400px
}