form li {
    display: flex;
}

form label {
    font-size: large;
    font-weight: 600;
}

form input[type=text] {
    border-radius: 4px;
}

form input[value] {
    padding: 5px;
    margin-left: 15px;
}

form input[type=submit] {
    width: 150px;
    height: 45px;
    margin-top:8px;
    margin-left: 108px;
    border: none;
    background-color: #a3b18a;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

input[type=checkbox] {
  width: 45px;
  height: 15px;
  background: #555;
  margin: 4px 10px;
  position: relative;
  border-radius: 5px;
}

input[type=checkbox]:checked {
    background-color: red;  
}