nav {
    display: grid;
    row-gap: 80px;
    justify-items: start;
    font-size: 1.2rem;
    max-width: 100px;
    position: fixed;
}


nav > ul> li {
    padding-left:14px;
    line-height: 60px;
    width: 175px;
}

nav>ul>li:hover {
    padding-left:14px;
    border-bottom: 4px #3a5a40 solid;
}
.green {
    color: #3a5a40
}