.readingListP {
    color: white
}

.book-card-img {
    padding-top: 10px;
    width: 170px;
    height: 200px;
    border-radius: 4px;
}

.bookCard {
    border: solid pink 2px;

    display: grid;
    background-color: #2a2a2a50;
    place-items: center;
    border-radius: 6px;
    grid-template-rows: 195px 30px 44px;

    padding: 0px;
    margin: 0px;
}

