form li {
    display: flex;
}

form label {
    font-size: large;
    font-weight: 600;
}

form input[type=text] {
    border-radius: 4px;
}

form input[value] {
    padding: 5px;
    margin-left: 15px;
}

form input[type=submit] {
    width: 150px;
    height: 45px;
    margin-top:8px;
    margin-left: 108px;
    border: none;
    background-color: #a3b18a;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

input[type=checkbox] {
  width: 45px;
  height: 15px;
  background: #555;
  margin: 4px 10px;
  position: relative;
  border-radius: 5px;
}

input[type=checkbox]:checked {
    background-color: red;  
}

/* menu and active */
/* .select {
    box-sizing: border-box;
}

.active */

.dropdown {
    background: #23242a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: medium;
    /* min-width: 15em; */
    /* position: relative; */
    /* margin: 2em; */
    box-sizing: border-box;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #2a2f3b;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 0.1em;
    cursor: pointer;
    transition: background 0.3s;
}

/* TODO: clicked styled to add in JS */

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    /* top: 1em; */
    left: 50%;
    /* was 100% */
    width: 30%;
    /* transform: translateX(-0%); */
    transform: translateY(70%);
    transition: 0.2s;
    z-index: 1;
    /* opacity: 0;
    display: none; */
}

.menu li {
    cursor: pointer;
    /* font-size: ; */
    background: #323741;
}

.menu li:hover {
 background: #2a2d35;
}

/*TODO: active style to add in JS */
.active {
    background: #23242a;
}

/*TODO: open style to add in JS */
.menu-open {
    display: block;
    opacity: 1;
}