.header {
  grid-area: header;

    height: 55px;
    display: flex;
    grid-template-columns: 300px, 1fr;
    column-gap: 20px;
}

.appTitle {
    display: flex;
    grid-template-columns: 60px, 200px;
}